*{
    margin: 0;
    box-sizing: border-box;

}

.div-2{
    margin: 10px;
}
.home{
    text-align: center;
    margin: 150px;

}
a{
    text-decoration: none;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    color: #000;
    font-weight: bold;
}
a:hover{
    background-color: black;
    color: white;
}