*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: salmon;
    height: 120px;
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    align-items: flex-end;
    padding: 5px;
    color: white;
}
.H{
    background-color: rgb(255, 187, 0);
}
.G{
    background-color: rgba(233, 17, 17, 0.596);
}
.I{
    background-color: rgb(0, 255, 191);
}
.P{
    background-color: rgb(0, 225, 255);
}
.L{
    background-color: rgb(204, 0, 255);
}

.box{
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;  
}
.box1{
    height: 50px;
    width: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;  
}
.home{
    text-align: center;
    margin: 100px;
}
a{
    text-decoration: none;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    color: #000;
    font-weight: bold;
}
a:hover{
    background-color: black;
    color: white;
}

